body {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
}

main {
  background-color: hsl(0, 0%, 100%);
  max-width: 650px;
  border-radius: 20px;
}

main img {
  width: 100%;
  padding: 30px;
  border-radius: 50px;
}

main h2 {
  color: hsl(14, 45%, 36%);
}

main .informacoes {
  padding-inline: 30px;
}

main .titulo-receita {
  margin-bottom: 20px;
  font-family: "Young Serif", serif;
}

main .informacoes .descricao {
  margin-bottom: 20px;
}

main .prep-time {
  margin-inline: 30px;
  background-color: hsl(330, 100%, 98%);
  border-radius: 10px;
  margin-bottom: 20px;
}

main .prep-time .titulo {
  padding: 20px;
  color: hsl(332, 51%, 32%);
}

main .prep-time ul {
  padding: 20px;
  margin-left: 20px;
}

main .prep-time ul li {
  margin-bottom: 10px;
}

main .prep-time ul li::before,
main .ingredientes ul li::before,
main .instrucoes ol li::before {
  content: "";
  margin-left: 10px;
}

main .ingredientes {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  margin-inline: 30px;
  margin-bottom: 20px;
}

main .ingredientes ul {
  padding: 20px;
}

main .ingredientes ul li {
  margin-bottom: 5px;
}

main .instrucoes {
  margin-inline: 30px;
  border-bottom: 1px solid hsl(30, 54%, 90%);
}

main .instrucoes ol {
  padding: 15px;
}

main .instrucoes ol li::marker,
main table .valores {
  color: hsl(332, 51%, 32%);
  font-weight: bolder;
}

main .instrucoes ol li {
  margin-bottom: 10px;
}

main .nutricao {
  margin-top: 20px;
  margin-inline: 30px;
}

main .nutricao h2 {
  margin-bottom: 20px;
}

main .nutricao p {
  margin-bottom: 10px;
}

main table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

main table tr:not(:last-child) {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

main table td {
  padding: 10px;
}